.danger {
    background-color: red;
    border: 1px solid crimson;
    box-shadow: 0 10px 10 red;
}
.danger:hover {
    background-color: crimson;
}

.primary {
    background-color: royalblue;
    border: 1px solid blue;
}
.primary:hover {
    background-color: blue;
}