.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 450px;
  width: 450px;
  gap: 20px;
}
.img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 250px;
}
.text {
  position: absolute;
  bottom: 0;
  font-size: 200px;
  font-weight: 600;
  color: var(--white);
  text-shadow: 0 0 4px black;
  text-align: center;
}
.title {
  font-size: 34px;
  font-weight: 600;
}
.subtitle {
  font-size: 18px;
  font-weight: 300;
}
