h1,h2,h3,h4,h5,h6 {font-weight: bold;}
h1{font-size: 28px;}
h2{font-size: 20px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}

.textSmall {font-size: 12px;}
.textRegular {font-size: 14px;}
.textBig {font-size: 16px;}
.caption {font-size: 10px;}

.fontBold {font-weight: bolder;}
.fontSemiBold{font-weight: bold;}