@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primer-blue: #5171E1;
    --primer-light-blue: #c7d1f5;
    --black: #1E2833;
    --error: #d51a52;
    --attention: #ffe000;
    --approval: #00a99d;
    --link: #5e4dcd;
    --light-gray: #979797;
    --white: #ffffff;
    --dark-blue: #011C7B;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body {
    font-family: "Inter", sans-serif;
    color: var(--black);
    background-color: #F5F5FB;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-stretch {
    justify-content: stretch;
}
.container {
    max-width: 1200px;
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 15px;
}
.mx-auto {
    margin: auto;
}
.relative {
    position: relative;
    display: flex;
    z-index: 10;
}
/* navigation */
.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--white);
}
.logo {
    height: 36px;
    width: auto;
}
.nav-links {
    margin-left: auto;
    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-item {
    text-decoration: none;
    color: var(--black);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
}
.nav-item:hover,.nav-item:active {
    color: var(--primer-blue);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.btn {
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 14px 60px;
    border-radius: 12px;
}

.btn-link {
    color: var(--white);
    background-color: var(--primer-blue);
    border: 1px solid var(--primer-blue);
    box-shadow: 2px 2px 2px 0px #5171E152;
}
.btn-link:hover {
    color: var(--light-gray);
    background-color: var(--white);
    box-shadow: 2px 2px 2px 0px #5171e152;
}

/* header */
.text-blue-primer {
    color: var(--primer-blue);
}
header {
    width: 100%;
    height: 100vh;
}
header a {
    font-weight: 600;
    margin: 12px auto;
}
.header-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 42px;
    font-weight: 700;
    line-height: 72px;
}
.subtitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 55px;
}

.btn-big {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 20px 85px;
    border-radius: 12px;
    letter-spacing: -0.025em;
}

.header-art {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-art img {
    position: absolute;
}
/* section */
.longbox {
    position: absolute;
    bottom: 4px;
    width: 300px;
    height: 10px;
    background-color: var(--primer-light-blue);
    z-index: -1;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.feature-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 36px;
}
.feature-subtitle {
    width: 80%;
    margin: 40px auto;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.feature-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 36px;
}

.card {
    border-radius: 10px;
    box-shadow: 2px 2px 2px #5171e152;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.card-icon {
    display: flex;
    width: 40px;
    height: 40px;
    background: var(--black);
}
.card-title {
    font-size: 30px;
    font-weight: 700;
}
.card-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;
}

.eclipse {
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: -1;
}
.feature .eclipse1 {
    left: -62px;
    top: 62px;
}
.feature .eclipse2 {
    right: -120px;
    bottom: -200px;
    transform: rotateY(180deg);
}
/* benefits */
.benefits {
    position: relative;
    z-index: 10;
    padding: 80px 0;
}
.benefits-card {
    border-radius: 18px;
    padding: 32px;
    background-color: var(--white);
    height: 100%;
}
.ilustration2 {
    max-width: 641px;
}
.benefits h1 {
    font-size: 36px;
    text-align: center;
}
.benefits ul {
    padding: 40px;
}
.benefits li {
    font-weight: 400;
    font-size: 24px;
    margin: 28px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
}
.benefits li:before {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background: var(--primer-blue);
    position: absolute;
    left: -50px;

}
/* faq */
.faq {
    position: relative;
    padding: 100px 0;
}
.faq-wrapper {
    width: 50%;
}
.faq-title {
    font-size: 35px;
    font-weight: 700;
    position: relative;
    z-index: 10;
    margin: 40px 0;
    width: max-content;
}
.faq-title:before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--primer-blue);
    position: absolute;
    bottom: 3px;
    z-index: 1;
}
.faq-ul {
    padding-left: 40px;
}
.faq-li {
    width: 100%;
    list-style-type: none;
    border-bottom: 4px solid var(--light-gray);
    padding: 24px 0;
}
.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.faq-icon,
.faq-icon-active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 24px;
    width: 24px;
    right: 0;
    transition: ease-in-out .25s all;
}

.faq-icon-active {
    transform: rotate(180deg);
    transition: ease-in-out .25s all;
}
.faq-icon-active span:nth-child(1) {
    transform: rotate(180deg);
    transition: ease-in-out .25s all;
}
.faq-icon span,
.faq-icon-active span {
    transition: ease-in-out .25s all;
    position: absolute;
    background-color: var(--primer-blue);
    height: 3px;
    width: 100%;
}
.faq-icon span:nth-child(1) {
    transform: rotate(90deg);
}
.faq-answer {
    transition: ease-in-out .25s all;
    padding: 12px 0;
    overflow: hidden;
    color: var(--light-gray);
}
.ilustration3 {
    position: absolute;
    right: 0;
    transition: ease-in-out .25s all;
}
/* plans */
.plans {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: var(--white);
}
.plans-title {
    font-size: 36px;
    font-weight: 600;
    margin: 12px auto;
}
.plans-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
}
.plans-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}
.plan-card {
    border-radius: 24px;
    background: var(--primer-light-blue);
    color: var(--dark-blue);
    padding: 25px;
}
.plan-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.plan-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 15px;
    max-width: 212px;
    text-align: left;
}
.plan-feature {
    font-size: 16px;
    font-weight: 400;
}
.plan-price {
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}
.plan-price span {
    font-size: 24px;
    font-weight: 700;
}

.plan-card-recomend {
    background-color: var(--dark-blue)!important;
    color: var(--white)!important;
    align-self: flex-start;
}
/* review */
.review {
    position: relative;
    z-index: 10;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review-text {
    max-width: 70%;
    width: fit-content;
}
.review-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.review-subtitle {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: 24px auto;
}
.review-wraper {
    padding: 50px 0;
    display: flex;
    align-items: flex-end;
    height: 400px;
    gap: 10px;
}
.review-card:first-child, .review-card:last-child {
    align-self: flex-start;
}
.review-card {
    position: relative;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    padding-top: 30px;
    width: 310px;
}
.review-img {
    position: absolute;
    left: 20px;
    top:-60px;
    width: 80px;
    height: 80px;
    background: #000;
    border-radius: 999px;
}
.reviewer {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-blue);
    margin: 10px 0;
}
.reviewer-job {
    font-size: 18px;
    font-weight: 400;
    color: var(--primer-blue);
}
.reviewer-text {
    border-top: 2px solid var(--light-gray);
    position: relative;
    font-size: 14px;
    color: var(--light-gray);
    margin-top: 20px;
    padding-top: 10px;
}
.review-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.review .eclipse1 {
    top: 0;
    left: -100px;
}
.review .eclipse2 {
    bottom: 0;
    right: -40px;
    transform: rotate(180deg);
}
/* mobile */
.mobile {
    background-color: var(--primer-blue);
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}
.mobile-wraper {
    max-width: 55%;
    width: fit-content;
}
.mobile-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}
.mobile-title span {
    color: var(--white);
}
.mobile-subtitle {
    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
    padding-right: 60px;
}
.mobile-img-1 {
    position: absolute;
    right: 20%;
    bottom: 50%;
    transform: rotate(180deg);
}
.mobile-img-2 {
    position: absolute;
    right: 0;
    top: 50%;
}
/* prefooter */
.prefooter {
    padding: 25px 0;
    font-size: 12px;
    font-weight: 500;
}
.prefooter-text {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 25px 0;
}
.prefooter-nav {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.prefooter-nav-item {
    color: var(--black);
    font-weight: 500;
    text-decoration: none!important;
}

/* footer */
footer {
    background: var(--white);
    padding: 25px;
}
.footer-text {
    text-align: center;
    color: var(--dark-blue);
    width: 100%;
    font-size: 14px;
}
.footer-sosmed {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 0;
}