@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import 'Button.module.css';
@import 'Reset.module.css';

:root {
  --approval: #00A99D;
  --attention: #FFE000;
  --error: #D51A52;
  --link: #5E4DCD;
  --primary: #5171E1;
  --black-primary: #1E2833;
  --blue-soft: #F5F7F9;
  --grey: #C4C4C4;
  --soft-grey: #e0e0e0;
  --white: #ffffff;
  --blue-medium: #E1E5F0;
  --blue-dark: #011C7B;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  color: var(--black);
  background-color: #f5f5fb;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
a {
  color: var(--primary);
  cursor: pointer;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-stretch {
  justify-content: stretch;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.p-2 {
  padding: 0.5rem;
}
.x-auto {
  overflow-x: auto;
}
.container {
  max-width: 1200px;
  width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 15px;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.mx-auto {
  margin: auto;
}
.relative {
  position: relative;
  display: flex;
  z-index: 10;
}
.logo {
  position: relative;
  height: 36px;
  width: auto;
}
.guestLogo {
  position: absolute;
  margin: 20px;
  height: 30px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.text-blue-primer {
  color: var(--primary);
}
.text-danger {
  color: var(--error);
}
.btn-link {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: 2px 2px 2px 0px #5171e152;
}
.btn-link:hover {
  color: var(--grey);
  background-color: var(--white);
  box-shadow: 2px 2px 2px 0px #5171e152;
}

.btn-big {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding: 20px 85px;
  border-radius: 12px;
  letter-spacing: -0.025em;
}

.modal-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #0000004f;
  transition: all ease-in-out .5s;
  backdrop-filter: blur(5px);
} 
.modal {
  width: max-content;
  max-width: 80vw;
  padding: 20px;
  height: auto;
  background-color: var(--white);
  border-radius: 8px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  transition: all ease-in-out .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.modal .closeButton {
  position: absolute;
  top: -37.5px;
  right: -37.5px;
  width: 75px;
  height: 75px;
  font-size: 16px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
.modal-container .open {
  top: 50%;
  transition: all ease-in-out .5s;
}
.modalHeader {
  text-align: center;
}
.modalPlan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.modalPlanText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
}
.modalPembayaran {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 10px;
}
.modalKonfirmasiPembayaran {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.tokoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.formHeader {
  margin-bottom: 20px;
}
.formFooter {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.circle {
  border-radius: 9999px;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.bg-success {
  background: var(--approval);
}
.box{
  padding: 10px;
}
.bg-gray {
  background-color: var(--lighter-gray);
}
.rounded {
  border-radius: 8px;
}
.text-justify {
  text-align: justify;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
thead {
  background-color:var(--lighter-gray);
}

thead tr {
  background-color: var(--blue-medium)!important;
  color: var(--primary)!important;
}
table tr {
  background-color: var(--white);
}
table tr:nth-child(even) {
  background-color: var(--blue-soft);
}
table tr:hover {
  background-color: var(--blue-medium);
}

td,th {
  width: fit-content;
  padding: 8px;
  text-align: left;
}

select {
  width: 100%;
  border: 1px solid var(--black);
  padding: 10px 15px;
}