.main {
  padding-top: 75px;
  width: 100%;
  height: 100vh;
  background: var(--blue-soft);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.sidebar {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.sidebar .toko {
  padding: 10px;
  border-radius: 8px;
  background: var(--white);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .tokoLogo {
  width: 100px;
  height: 100px;
  background: var(--blue-dark);
}
.sidebar .tokoName {
  color: var(--black-primary);
  font-weight: 500;
}
.sidebar .kategori {
  padding: 10px;
  border-radius: 8px;
  background: var(--white);
  width: 150px;
  height: max-content;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.sidebar .kategori .title {
  color: var(--black-primary);
  font-weight: 500;
}
.sidebar .kategori .items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: max-content;
  overflow-y: scroll;
}
.sidebar .footer {
  width: 150px;
}
.content {
  width: 100%;
  padding: 30px 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.content .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.content .produk {
  overflow: scroll;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 20px;
  padding: 0 20px;
}
.produkCard {
  background: white;
  border-radius: 8px;
  position: relative;
  padding: 14px;
  cursor: pointer;
}
.produkCard .produkStok {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--primary);
  color: var(--white);
  padding: 0 12px;
  border-radius: 999px;
  font-size: 10px;
  z-index: 100;
}
.produkCard .produkCardImg {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 4px;
}
.produkCard .produkCardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.produkCard .produkCardText .title {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-primary);
}
.produkCard .produkCardText .description {
  font-size: 12px;
  color: var(--grey);
}
.produkCard .produkCardText .price {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary);
  align-self: flex-end;
}
.orderContainer {
  width: fit-content;
  height: 100%;
  background: var(--white);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.orderContainer .title {
  color: var(--black-primary);
  font-weight: 500;
}
.orderContainer .items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 20px;
}
.orderContainer .item {
  background: var(--blue-soft);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  position: relative;
}
.orderContainer .item .orderImg {
  width: 80px;
  height: 80px;
  background: var(--blue-dark);
  border-radius: 5px;
}
.orderContainer .item .orderDeskripsi {
  color: var(--dark-grey);
}
.orderContainer .item .orderPrice {
  font-weight: 500;
  color: var(--primary);
}
.orderContainer .item .orderQty {
  display: flex;
  gap: 5px;
}
.orderQty button {
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 999px;
  border: 1px solid var(--black-primary);
  background: var(--black-primary);
  color: var(--white);
}
.orderQty input {
  max-width: 50px;
  appearance: none;
  background: transparent;
  border: 1px solid transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 0 6px;
}
.deleteOrder {
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 999px;
  border: 1px solid var(--error);
  background: var(--error);
  color: var(--white);
}
.form {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form .title {
  color: var(--black-primary);
  font-weight: 500;
}
.orderContainer .subTotal,
.orderContainer .discount,
.orderContainer .total {
  display: flex;
  gap: 10px;
  background: var(--blue-soft);
  padding: 6px 12px;
  border-radius: 8px;
}
